body {
    background-image: url('../assets/res/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.play {
    bottom: 50px;
    left: calc(50% - 3.5em);
    position: fixed;
}

.instanceView {
    bottom: 10px;
    left: calc(50% - 24em);
    position: fixed;
    width: 90%;
}

#instance {
    flex: 1;
    height: 30px;
}

.playbtn {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}

.instancebtn {
    padding: 10px;
    font-size: 20px;
}

.accountbtn {
    cursor:pointer;
    right: 50px;
    top: 5px;
    position: fixed;
}

.settingsbtn {
    background:url('../assets/res/gear.png');
    background-repeat: no-repeat;
    background-size: cover;
    cursor:pointer;
    border:none;
    width:35px;
    height:35px;
    right: 7px;
    top: 5px;
    position: fixed;
}

input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.status-icon {
    display: inline;
}

.dot {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    display: inline-block;
}

.online {
    background-color: rgb(48, 165, 64);
}

.away {
    background-color: rgb(231, 186, 39);
}

.busy {
    background-color: rgb(219, 44, 44);
}

.offline {
    background-color: rgb(92, 92, 92);
}

.avatar {
    width:25px;
    height:25px;
    margin-right: 10px;
}
