body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.play {
    bottom: 50px;
    left: calc(50% - 2.5em);
    position: fixed;
}

.instanceView {
    bottom: 10px;
    left: calc(50% - 12em);
    position: fixed;
    width: 400px;
}

#instance {
    flex: 1;
    height: 30px;
}

.playbtn {
    padding: 10px;
    font-size: 20px;
}

.settings {
    right: 10px;
    top: 10px;
    position: fixed;
}

.settingsbtn {
    background:url(gear.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor:pointer;
    border:none;
    width:35px;
    height:35px;
}

input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}